@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/Gotham Book Regular.eot");
  src: local("☺"), url("../fonts/Gotham Book Regular.woff") format("woff"), url("../fonts/Gotham Book Regular.ttf") format("truetype"), url("../fonts/Gotham Book Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Open Sans";
  text-align: center;
}

/* HEADER *******************************/
.container {
  max-width: 79.1333333333%;
  width: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
  color: #fff;
  padding-top: 57px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
}

.nav {
  width: 100%;
  max-width: 583px;
  display: flex;
  justify-content: space-between;
}
.nav__link {
  vertical-align: top;
  color: #fff;
  position: relative;
  transition: color 0.1s linear;
}
@media (max-width: 1024px) {
  .nav__link {
    display: none;
  }
}
.nav__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fcac45;
  opacity: 0;
  position: absolute;
  top: 150%;
  left: 0;
  z-index: 1;
  transition: opacity 0.1s linear;
}
.nav__link:hover:after {
  opacity: 1;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
}
.page__title {
  text-transform: uppercase;
  color: #999999;
  font-size: 44px;
  font-weight: 300;
  line-height: 24px;
}
.page__title span {
  color: #fcac45;
  font-weight: 700;
  letter-spacing: -2.2px;
}
@media (max-width: 720px) {
  .page__title span {
    line-height: 60px;
  }
}
@media (max-width: 1024px) {
  .page__title {
    font-size: 34px;
  }
}
@media (max-width: 724px) {
  .page__title {
    font-size: 30px;
  }
}
@media (max-width: 424px) {
  .page__title {
    font-size: 28px;
  }
}
.page__subtitle {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 20px;
}
.page__subtitle span {
  font-weight: 700;
  letter-spacing: -1px;
  line-height: normal;
}
@media (max-width: 1024px) {
  .page__subtitle {
    font-size: 18px;
    line-height: 22px;
  }
}
@media (max-width: 724px) {
  .page__subtitle {
    font-size: 15px;
    line-height: 20px;
  }
}
@media (max-width: 424px) {
  .page__subtitle {
    font-size: 13px;
    line-height: 18px;
  }
}

/*ABOUT *******************************/
.h2title {
  font-size: 34px;
  font-weight: 400;
  line-height: 37.3px;
  text-transform: uppercase;
  color: #222222;
}
@media (max-width: 1024px) {
  .h2title {
    font-size: 30px;
  }
}
@media (max-width: 724px) {
  .h2title {
    font-size: 29px;
  }
}
@media (max-width: 424px) {
  .h2title {
    font-size: 28px;
  }
}

.about__img {
  max-width: 506px;
  width: 100%;
}
.about__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 103px;
  padding-bottom: 101px;
}
@media (max-width: 1337px) {
  .about__container {
    flex-direction: column;
    padding-top: 20px;
  }
}

.aboutus {
  max-width: 404px;
  margin-right: 102px;
}
.aboutus span {
  font-weight: 700;
  letter-spacing: -0.68px;
}
.aboutus__title::after {
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  background-color: #fcac45;
  margin-top: 21px;
}
.aboutus__paragraph {
  max-width: 404px;
  color: #6c6c6c;
  font-size: 18px;
  text-align: left;
  letter-spacing: -0.72px;
  line-height: 25px;
  margin-top: 31px;
  margin-bottom: 45px;
}
@media (max-width: 1024px) {
  .aboutus__paragraph {
    font-size: 16px;
  }
}
@media (max-width: 724px) {
  .aboutus__paragraph {
    font-size: 15px;
  }
}
@media (max-width: 424px) {
  .aboutus__paragraph {
    font-size: 13px;
  }
}
.aboutus__subtitle {
  color: #5a5a5a;
  font-size: 16px;
  font-style: italic;
  letter-spacing: -0.16px;
  text-align: left;
  padding-bottom: 16px;
}
@media (max-width: 1024px) {
  .aboutus__subtitle {
    font-size: 15px;
  }
}
@media (max-width: 724px) {
  .aboutus__subtitle {
    font-size: 14px;
  }
}
@media (max-width: 424px) {
  .aboutus__subtitle {
    font-size: 13px;
  }
}
.aboutus__subtitle span {
  font-style: normal;
  color: #5a5a5a;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.18px;
  line-height: normal;
  background: url(../img/about__img/55.svg) left no-repeat;
  padding-left: 25px;
}
@media (max-width: 1337px) {
  .aboutus {
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0;
  }
}

/*TEAM *************/
.team {
  background-color: #111;
  color: #ffffff;
}
.team__container {
  max-width: 1123px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1128px) {
  .team__container {
    max-width: 538px;
  }
}
@media (max-width: 600px) {
  .team__container {
    max-width: 250px;
  }
}
.team__header {
  max-width: 220px;
}
.team__title {
  padding-top: 100px;
  margin-bottom: 107px;
}
@media (max-width: 1024px) {
  .team__title {
    padding-top: 95px;
    margin-bottom: 102px;
  }
}
@media (max-width: 724px) {
  .team__title {
    padding-top: 90px;
    margin-bottom: 97px;
  }
}
@media (max-width: 424px) {
  .team__title {
    padding-top: 80px;
    margin-bottom: 87px;
  }
}

.title {
  font-size: 44px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
}
.title::after {
  content: "";
  width: 99px;
  height: 5px;
  display: block;
  background-color: #fcac45;
  margin: 0 auto;
  margin-top: 30px;
}
@media (max-width: 1024px) {
  .title {
    font-size: 40px;
  }
}
@media (max-width: 724px) {
  .title {
    font-size: 38px;
  }
}
@media (max-width: 424px) {
  .title {
    font-size: 36px;
  }
}

.workers {
  display: flex;
  justify-content: space-between;
  padding-bottom: 167px;
}
@media (max-width: 1128px) {
  .workers {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 80px;
  }
}

.worker {
  padding-bottom: 30px;
}
.worker__img {
  max-width: 128px;
  width: 100%;
  height: 127px;
  border: 1px solid #d7d7d7;
  border-radius: 100px;
  background-color: #d7d7d7;
  margin: 0 auto;
}
.worker__name {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 22px;
}
.worker__job {
  font-size: 16px;
  margin-bottom: 35px;
}
/*services*****************************/
.container2 {
  max-width: 1126px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1128px) {
  .container2 {
    max-width: 538px;
  }
}
@media (max-width: 600px) {
  .container2 {
    max-width: 245px;
  }
}

.ourservices__title {
  color: #222222;
  padding-top: 100px;
  margin-bottom: 55px;
}
@media (max-width: 1024px) {
  .ourservices__title {
    padding-top: 95px;
    margin-bottom: 50px;
  }
}
@media (max-width: 724px) {
  .ourservices__title {
    padding-top: 90px;
    margin-bottom: 45px;
    line-height: 1;
  }
}
@media (max-width: 424px) {
  .ourservices__title {
    padding-top: 80px;
    margin-bottom: 40px;
    line-height: 1;
  }
}
.ourservices__paragraph {
  color: #6c6c6c;
  font-size: 16px;
  font-style: italic;
  line-height: 24px;
  margin-bottom: 102px;
}
@media (max-width: 1024px) {
  .ourservices__paragraph {
    margin-bottom: 95px;
  }
}
@media (max-width: 724px) {
  .ourservices__paragraph {
    margin-bottom: 90px;
  }
}
@media (max-width: 424px) {
  .ourservices__paragraph {
    margin-bottom: 80px;
  }
}

.services {
  display: flex;
  justify-content: space-between;
  padding-bottom: 101px;
}
@media (max-width: 1128px) {
  .services {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 80px;
  }
}

@media (max-width: 1128px) {
  .serviceblock {
    padding-bottom: 30px;
  }
}

.serviceblockcontent__name {
  color: #222222;
  font-size: 25px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 154px;
}
.serviceblockcontent__paragraph {
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.comp {
  background: url(../img/icons/services__1.svg) top no-repeat;
}

.mobile {
  background: url(../img/icons/services__2.svg) top no-repeat;
}

.photo {
  background: url(../img/icons/services__3.svg) top no-repeat;
}

.micro {
  background: url(../img/icons/services__4.svg) top no-repeat;
}

/*CLIENts*****************************/
.type-title {
  font-size: 44px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  padding-top: 100px;
}
.type-title::after {
  content: "";
  width: 99px;
  height: 5px;
  display: block;
  background-color: #fcac45;
  margin: 0 auto;
  margin-top: 30px;
}
.type-title span {
  font-weight: 600;
}
@media (max-width: 1024px) {
  .type-title {
    font-size: 38px;
    line-height: 1;
    padding-top: 95px;
  }
}
@media (max-width: 724px) {
  .type-title {
    font-size: 36px;
    padding-top: 90px;
  }
}
@media (max-width: 424px) {
  .type-title {
    font-size: 34px;
  }
}

.clients {
  background-color: #000;
  color: #fff;
}
.clients__title {
  margin-bottom: 110px;
}
@media (max-width: 1024px) {
  .clients__title {
    margin-bottom: 105px;
  }
}
@media (max-width: 724px) {
  .clients__title {
    margin-bottom: 100px;
  }
}
@media (max-width: 424px) {
  .clients__title {
    margin-bottom: 90px;
  }
}
.logotip {
  max-width: 945px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 211px;
}
@media (max-width: 1128px) {
  .logotip {
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
  }
}
@media (max-width: 1128px) {
  .logotip__item {
    padding-bottom: 70px;
  }
}

/*WORK**************************/
.container3 {
  max-width: 1141px;
  width: 100%;
  margin: 0 auto;
}

.work__title {
  margin-bottom: 56px;
  color: #222222;
}
.work__paragraph {
  color: #6c6c6c;
  font-size: 16px;
  font-style: italic;
  line-height: 24px;
  margin-bottom: 175px;
}
@media (max-width: 1024px) {
  .work__paragraph {
    margin-bottom: 150px;
  }
}
@media (max-width: 724px) {
  .work__paragraph {
    margin-bottom: 130px;
  }
}
@media (max-width: 424px) {
  .work__paragraph {
    margin-bottom: 100px;
  }
}

.portrets {
  padding-bottom: 100px;
}
.portrets__block1 {
  max-width: 1142px;
  width: 100%;
  height: 237px;
  background: url(../img/icons/work__1.png) space;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media (max-width: 789px) {
  .portrets__block1 {
    background-repeat: round;
  }
}
@media (max-width: 544px) {
  .portrets__block1 {
    background-repeat: space;
  }
}
@media (max-width: 526px) {
  .portrets__block1 {
    background-repeat: no-repeat;
    background-position: center;
  }
}
.portrets__block2 {
  max-width: 1142px;
  width: 100%;
  height: 237px;
  background: url(../img/icons/work__2.png) space;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media (max-width: 789px) {
  .portrets__block2 {
    background-repeat: round;
  }
}
@media (max-width: 544px) {
  .portrets__block2 {
    background-repeat: space;
  }
}
@media (max-width: 526px) {
  .portrets__block2 {
    background-repeat: no-repeat;
    background-position: center;
  }
}
.portrets__block3 {
  max-width: 1142px;
  width: 100%;
  height: 237px;
  background: url(../img/icons/work__3.png) space;
  margin: 0 auto;
  padding-bottom: 100px;
}
@media (max-width: 789px) {
  .portrets__block3 {
    background-repeat: round;
  }
}
@media (max-width: 544px) {
  .portrets__block3 {
    background-repeat: space;
  }
}
@media (max-width: 526px) {
  .portrets__block3 {
    background-repeat: no-repeat;
    background-position: center;
  }
}

/*testimonials********************/
.testimonials {
  color: #fff;
  background-color: #000;
}
.testimonials__title {
  margin-bottom: 118px;
  line-height: 1;
}
@media (max-width: 1024px) {
  .testimonials__title {
    margin-bottom: 110px;
  }
}
@media (max-width: 724px) {
  .testimonials__title {
    margin-bottom: 100px;
  }
}
@media (max-width: 424px) {
  .testimonials__title {
    margin-bottom: 80px;
  }
}
.testimonials__paragraph {
  color: #e7e7e7;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 49px;
}
.testimonials__ps {
  color: #b2b2b2;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  padding-bottom: 173px;
}
.testimonials__ps span {
  font-weight: 600;
  color: #d1d1d1;
}
@media (max-width: 1024px) {
  .testimonials__ps {
    padding-bottom: 163px;
  }
}
@media (max-width: 724px) {
  .testimonials__ps {
    padding-bottom: 133px;
  }
}
@media (max-width: 424px) {
  .testimonials__ps {
    padding-bottom: 103px;
  }
}

.contact__title {
  color: #222222;
  padding-top: 100px;
}
.contact__paragraph {
  color: #6c6c6c;
  margin-top: 56px;
  margin-bottom: 95px;
  font-style: italic;
}
@media (max-width: 1024px) {
  .contact__paragraph {
    margin-bottom: 90px;
  }
}
@media (max-width: 724px) {
  .contact__paragraph {
    margin-bottom: 80px;
  }
}
@media (max-width: 424px) {
  .contact__paragraph {
    margin-bottom: 50px;
  }
}

.contact-information {
  max-width: 754px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 173px;
}
.contact-information__send {
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  max-width: 166px;
  width: 100%;
  height: 41px;
  background-color: #FCAC45;
  float: right;
}
@media (max-width: 1024px) {
  .contact-information__send {
    margin-right: 90px;
  }
}
@media (max-width: 724px) {
  .contact-information__send {
    float: none;
    margin: 0;
    margin: 0 auto;
  }
}

.user-information {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .user-information {
    flex-direction: column;
  }
}

.user-information-name {
  max-width: 361px;
  width: 100%;
}
.user-information-name__name {
  color: #636363;
  text-align: left;
  padding-bottom: 10px;
}
.user-information-name__name span {
  color: #DB0000;
}
.user-information-name__nameint {
  width: 100%;
  height: 41px;
  border: 1px solid #999999;
}
@media (max-width: 1024px) {
  .user-information-name {
    margin: 0 auto;
    padding-bottom: 10px;
  }
}

.user-information-email {
  max-width: 361px;
  width: 100%;
}
.user-information-email__email {
  color: #636363;
  text-align: left;
  padding-bottom: 10px;
}
.user-information-email__email span {
  color: #DB0000;
}
.user-information-email__emailint {
  width: 100%;
  height: 41px;
  border: 1px solid #999999;
}
@media (max-width: 1024px) {
  .user-information-email {
    margin: 0 auto;
  }
}

.user-message {
  padding-top: 10px;
}
@media (max-width: 1024px) {
  .user-message {
    max-width: 361px;
    margin: 0 auto;
  }
}

.user-information-message__message {
  color: #636363;
  text-align: left;
}
.user-information-message__message span {
  color: #DB0000;
}
.user-information-message__messageint {
  width: 100%;
  min-height: 164px;
  height: 100%;
  border: 1px solid #999;
  margin-bottom: 31px;
}
@media (max-width: 1024px) {
  .user-information-message {
    margin: 0 auto;
  }
}

/*FOOTER************************/
.footer {
  background-color: #222222;
}
.footer__container {
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 213px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer__link_face path:hover {
  fill: #064272;
}
.footer__link_twit path:hover {
  fill: #0e8bf1;
}
.footer__link_google path:hover {
  fill: #d95045;
}
.footer__link_linkedin path:hover {
  fill: #000;
}
.footer__link_dribbb path:hover {
  fill: #000;
}