@media (max-width: $ipadpro){

}
@media (max-width: $iphonex){
    
}
@media (max-width: $ipadpro){
    font-size: 34px;
}
@media (max-width: $ipadpro - 300px){
    font-size: 30px;
}
@media (max-width: $ipadpro - 600px){
    font-size: 28px;
}
@media (max-width: $ipadpro){
    padding-top: 95px;
    margin-bottom: 102px;
}
@media (max-width: $ipadpro - 300px){
    padding-top: 90px;
    margin-bottom: 97px;
}
@media (max-width: $ipadpro - 600px){
    padding-top: 80px;
    margin-bottom: 87px;
}
@media (max-width: 1128px) {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 80px;
}
@media (max-width: $ipadpro){
    margin-bottom: 110px;
}
@media (max-width: $ipadpro - 300px){
    margin-bottom: 100px;
}
@media (max-width: $ipadpro - 600px){
    margin-bottom: 80px;
}